section#profile {
	margin: 5% 10%;
}
section.ratings {
	display: grid;
	grid-template-columns: auto auto;
}
section.ratings article.perf img {
	width: 25px;
	height: 25px;
	display: inline;
	margin-bottom: -7px;
}
section.ratings article.perf p {
	margin-bottom: 4px;
	line-height: 14px;
	font-size: 14px;
	display: inline-block;
}
section.ratings article.perf p .games {
	color: #888;
	line-height: 12px;
	font-size: 12px;
}
